/* Colors */
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #EAB543;
$color-blue: #4bcffa;
$color-green: #55efc4;
$color-gray: #b2bec3;

/* Font sizes */
$font-size: 16px;
$title-size: 20px;

/* Fonts */
$main-font: "Open Sans", Helvetica, Arial;
$fancy-font: "Dancing Script", Helvetica, Arial;