.sidebar {
    background-color: $color-black;
    min-height: 100vh;
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
}

.container-fixed {
    position: fixed;
}


.sidebar-title {
    font-family: $fancy-font;
    color: $color-white;
    text-align: left;
    padding-left: 16px;
    h3 {
        font-size: 24px;
    }
}

.links ul {
    list-style-type: none;
    padding: 0 0 20px 10px;
    li {
        padding: 8px 0;
    }
    li span {
        padding-left: 20px;
    }
    li a {
        text-decoration: none;
        color: $color-gray;
    }
    li a:hover {
        color: $color-white
    }
}


.manager .title h3 {
    font-size: 18px;
    padding-top: 10px;
    position: relative;
}

.manager .title h3::before {
    position: absolute;
    content: '';
    top: -12px;
    left: 50%;
    width: 206px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-gray;
}

.manager .name h3 {
    font-size: 16px;
}

.close-btn {
    display: none;
}

.close-btn a i {
    color: $color-gray;
    padding: 12px 0 0 0;
    font-size: 24px;
}