.sidebar {
    background-color: $color-black;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 220px;
}

.sidebar-title {
    font-family: $fancy-font;
    color: $color-white;
    text-align: left;
    padding-left: 16px;
    h3 {
        font-size: 24px;
    }
}

.links ul {
    list-style-type: none;
    padding: 0 0 20px 0;
    li {
        padding: 8px 12px;
        &:hover {
            border-left: 4px solid $color-orange;
        }
    }
    li span {
        padding-left: 20px;
    }
    li a {
        text-decoration: none;
        color: $color-gray;
    }
    li a:hover {
        color: $color-white;
    }
}


.manager h3 {
    font-size: 18px;
    padding-top: 10px;
    position: relative;
}

.manager h3::before {
    position: absolute;
    content: '';
    top: -12px;
    left: 50%;
    width: 268px;
    height: 1px;
    transform: translateX(-50%);
    background-color: $color-gray;
}

.manager .name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    h3 {
        font-size: 16px;
    }
    img {
        height: 50px;
        width: 50px;
    }
    span {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        left: 38px;
        top: 16px;
    }
}

.manager h4 {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
    &:hover {
        cursor: pointer;
    }
}

.hamburger-btn {
    display: none;
}

.hamburger-btn a i {
    color: $color-gray;
    padding: 12px 0 0 0;
    font-size: 24px;
    
}

@media (max-width: 991px) {
    .sidebar {
        justify-content: center;
        padding-left: 10px;
        width: 40px;
    }
    .sidebar-content {
        display: none;
    }
    .hamburger-btn {
        display: block;
    }
    .sidebar-active {
        min-width: 220px;
        .sidebar-content {
            display: block;
        }
    }
    .manager h3::before {
        width: 242px;
    }
    
}