.general-container {
    border: 1px solid red;
    height: 180vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.chart-title { 
    font-size: 16px;
    padding: 5px 126px;
    margin: 10px 20px;
}

.chart-image {
    display: flex;
    justify-content: center;
    padding: 0 120px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

