.links-container {
    border: 1px solid red;
    height: 130vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.table-links {
    margin: 20px 0;
    td {
        padding: 8px 60px;
        a {
            text-decoration: none;
        }
        i {
            padding: 0 6px;
            visibility: hidden;
        }
        &:hover {
            cursor: pointer;
            i {
                visibility: visible;
                color: $color-gray;
                &:hover {
                    color: $color-orange;
                }
            }
        }
    }
    td:first-of-type {
        font-weight: bold;
        font-size: 18px;
    }
}