.header {
    display: flex;
    font-size: 16px;
    background-color: white;
    top: 0; /* this is required for "sticky" to work */
    position: sticky;
    i {
        padding: 4px;
    }
    span {
        padding-left: 6px;
    }
}

.header-box {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header-lg {
    flex: 50% 0 0;
    border: 1px solid $color-gray-light;
    padding: 10px 20px;
    
}

.header-md {
    flex: 20% 0 0;
    border: 1px solid $color-gray-light;
}

.header-sm {
    flex: 5% 0 0;
    border: 1px solid $color-gray-light;
    &:hover {
        cursor: pointer;
        color: $color-orange;
        i {
            transform: scale(1.5);
            transition: 1s all;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-lg {
        display: none;
    }
    .header-md {
        flex: 30% 0 0;
        border: 1px solid $color-gray-light;  
    }
    .header-sm {
        flex: 20% 0 0;
        border: 1px solid $color-gray-light;
    }
}



@media (max-width: 767px) {
    .header {
        display: none;
    }   
}
