.page-container {
    height: auto;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
} 

.page-box {
    height: 90%; 
    width: 95% ;
    background-color: white;
}

.page {
    display: none;
}

.page-active {
    display: flex;
}

.link-active {
    color: $color-white !important;
}